#photo-id{
    height: 50%;
    width: 80%;
}
#screenshot{
  width: 100%;
}

#bolt{
  margin-left:50%;
  margin-right:50%;
}

#meet-the-team{
  color: white;
  text-shadow: 2px 3px black;
}

#icon{
  width:30% !important;
}

#play-button{
  margin-top:10px;
  font-size: 3vw;
  color: yellowgreen;
}
#play-button:hover{
  color: #025e03;
}
#nav-bar{
  padding-bottom: 4px;
}

.style{
  font-family: 'Open Sans', sans-serif;
}
.title{
  margin-top:1%;
  text-shadow: 2px 3px gainsboro;
}

.test{
  color:blue;
}

.information{
  margin-left: 15%;
  margin-right: 15%;
}

.border{
  border-top: solid;
  border-top-color: #dededf;
  border-bottom: solid;
  border-bottom-color: #dededf;
}

.border-top{
  border-top: solid;
  border-top-color: gainsboro;
}

.parallax-container{
  height: 300px !important;
}

.page-footer{
  background-color: #ffffff !important;
}

.row .col.l6 {
    width: 100% !important;
}

.bold{
  font-weight:bold;
}

.footer-link{
  color: #5baa63;
}

.footer-link:hover{
  color: #025e03;
}

.footer-copyright{
  text-align: center;
  color: black !important;
}

.about-bg{
    background-image: url('http://i1028.photobucket.com/albums/y348/f1nalfortune/About_BG_zpsvwyz7c38.jpg?t=1512070809');
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}